table{
  border-collapse: separate;
  width: 100%;
  .tableHeading{
    color: white;
    background-color: #00576b;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 100%;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}

.page-numbers button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.page-numbers button.active {
  background-color: #007bff;
  color: white;
}

.page-numbers button:disabled {
  cursor: not-allowed;
  background-color: #ddd;
}
.toastStyle{
  background-color: green;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;

}

// table{
//   tr{
//     td{
//       background-color: red;
      
//     }
//     :hover{
//       background-color: green;
//     }
//   }
// }